<!DOCTYPE html>
<html lang="it-IT">
    <head>
        <meta charset="UTF-8" />
            <title>
                <h1>
                    HOME
                </h1>
            </title>
    </head>
        <body> </br>
                <div style="text-align:center">
                     <h1>
                         <a href="#/index" class="btn btn-warning btn-lg">Configure your Database</a>
                     </h1> </br>
                        <img style="height:600px; width:600px" src="css/img/logo.png" alt="MainSim"> 
                </div>
        </body>
</html>